a
  &.btn
    display: inline-block
    padding: 5px
    border-radius: 10px
    background: colors.btn.default
    color: colors.btn.text
    text-decoration: none
  &.btn-add
    background: colors.btn.add
    &:hover
      background: colors.btn.add-hover