a
  &.btn
    display: inline-block
    padding: 5px
    border-radius: 10px
    background: colors.medium-gray
    color: #fff
    text-decoration: none
  &.add
    background: colors.orange
    &:hover
      background: colors.light-orange