colors = {
  btn: {
    default: #555,
    text: #fff,
    add: #FF6347,
    add-hover: #FF5537,
  },
  sub-header: #ccc,
  shadow: rgba(0,0,0,0.5)
}

appearance()
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none

button()
