@import url("meyer_css_reset.css");

body {
    padding: 20px;
    font: normal 18px Helvetica, Arial, sans-serif;
    color: #666;
}

#new-event h1 {
    background: url("../images/plus.png") transparent 0 50% no-repeat;
    background-size: contain;
    padding-left: 25px;
}
