@import url("meyer_css_reset.css");

/*
  ==================================================

  Layout

  ==================================================
*/

body {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: #45494d;
  text-align: center;
}

header {
  background: transparent url("../images/bg_body.gif") 0 0 repeat;
  height: 570px;
}

header h1 {
  box-sizing: border-box;
  padding-top: 130px;
}

header a {
  text-decoration: none;
  color: #cacaca;
}

nav {
  padding-top: 100px;
}

header nav li {
  display: inline-block;
  font-size: 26px;
  padding-right: 85px;
}

header nav li:last-child {
  padding-right: 0;
}

main h1 {
  font-size: 36px;
  font-weight: 700;
}

main h1:before,
main h1:after {
  display: inline-block;
  content: "\00b7";
  margin: 0 25px;
}
