colors = {
  text: #999,
  bg-dark: #000,
  bg-light: #0c0c0c,
  link: #D60528,
  header: {
    text: #fff,
    cart-color1: rgba(169,0,64,1),
    cart-color2: rgba(214,0,65,1)
  },
  menu: {
    bg: #fff
    name: #ab7829,
    price: #9EA3BD
    btn-text: #D60528,
    btn-border: #000
  }
}

appearance()
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none