@import 'meyer_css_reset.css'
@import 'mixins.styl'

html
  background: colors.bg-light url('/images/background-image.png') repeat left top
  font: 14px 'Droid Sans', sans-serif
  color: colors.text

header,
main,
footer
  width: 1000px
  min-width: 1000px
  margin: 0 auto

header
  padding: 50px 0 40px 0
  vertical-align: middle
  a.cart-info
    position: relative
    float: right
    text-transform: uppercase
    color: colors.text
    background: colors.bg-dark
    font-size: 0.8em
    height: 28px
    line-height: 28px
    padding-left: 50px
    span
      background: linear-gradient(to bottom, colors.header.cart-color1 0%, colors.header.cart-color2 100%)
      position: relative
      display: inline-block
      color: colors.header.text
      padding: 0 30px
      &:hover
        background: linear-gradient(to bottom, darken(colors.header.cart-color1, 5) 0%, darken(colors.header.cart-color2, 5) 100%)
      &:before,
      &:after
        position: absolute
        content: ''
        display: block
      &:before
        width: 0
        height: 0
        top: 0
        left: 0
        border-top: 14px solid colors.bg-dark
        border-right: 14px solid transparent
        border-bottom: 14px solid transparent
        border-left: 14px solid colors.bg-dark

h1
  &.logo
    display: inline-block
    width: 140px
    height: 32px
    background: url('/images/logo.png') 0 0 no-repeat
  a
    display: block
    width: inherit
    height: inherit

main
  padding: 15px 0;
  border-top: 1px solid colors.text
  border-bottom: 1px solid colors.text

footer
  padding: 15px 0 70px 0

a
  cursor: pointer
  text-decoration: none
  color: colors.link
