@import 'meyer_css_reset.css';
html {
  background: #0c0c0c url("/images/background-image.png") repeat left top;
  font: 14px 'Droid Sans', sans-serif;
  color: #999;
}
header,
main,
footer {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
}
header {
  padding: 20px 0;
}
main {
  padding: 15px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
footer {
  padding: 15px 0 70px 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #d60528;
}
