@import 'meyer_css_reset.css';
html {
  background: #0c0c0c url("/images/background-image.png") repeat left top;
  font: 14px 'Droid Sans', sans-serif;
  color: #999;
}
header,
main,
footer {
  width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
}
header {
  padding: 50px 0 40px 0;
  vertical-align: middle;
}
header a.cart-info {
  position: relative;
  float: right;
  text-transform: uppercase;
  color: #999;
  background: #000;
  font-size: 0.8em;
  height: 28px;
  line-height: 28px;
  padding-left: 50px;
}
header a.cart-info span {
  background: linear-gradient(to bottom, #a90040 0%, #d60041 100%);
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 0 30px;
}
header a.cart-info span:hover {
  background: linear-gradient(to bottom, #8f0036 0%, #bd0039 100%);
}
header a.cart-info span:before,
header a.cart-info span:after {
  position: absolute;
  content: '';
  display: block;
}
header a.cart-info span:before {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-top: 14px solid #000;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #000;
}
h1.logo {
  display: inline-block;
  width: 140px;
  height: 32px;
  background: url("/images/logo.png") 0 0 no-repeat;
}
h1 a {
  display: block;
  width: inherit;
  height: inherit;
}
main {
  padding: 15px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
footer {
  padding: 15px 0 70px 0;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #d60528;
}
.menu:after {
  content: '';
  display: block;
  clear: both;
  font-size: 0;
}
.menu li {
  float: left;
  width: 20%;
  text-align: center;
  margin-top: 15px;
}
.menu a {
  position: relative;
  display: block;
}
.menu a:hover figure:after {
  display: block;
}
.menu a:hover figcaption h3 {
  color: #000;
}
.menu figure {
  position: relative;
}
.menu figure:after {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  content: '';
  background: rgba(0,0,0,0.65) url("/images/arrow-right.png") no-repeat 50% 50%;
}
.menu figcaption {
  background: #fff;
  padding: 20px 0;
  box-shadow: inset -3px 0px 1px 0px #ccc;
}
.menu figcaption h3 {
  color: #ab7829;
  padding: 5px;
  font-size: 1.5em;
}
.menu figcaption p {
  color: #9ea3bd;
  padding: 5px;
  font-size: 1.2em;
}
.menu button {
  background: #fff;
  text-transform: uppercase;
  display: block;
  width: 100%;
  color: #d60528;
  text-decoration: none;
  outline: none;
  border: none;
  padding: 10px 0;
  border-top: 1px dotted #000;
  box-shadow: inset -3px 0px 1px 0px #ccc;
  transition: background 200ms ease-in, color 200ms ease-in, box-shadow 200ms ease-in;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.menu button:before {
  content: '+ ';
  font-weight: bold;
  font-size: 1.2em;
}
.menu button:hover {
  background: #d60528;
  color: #fff;
  box-shadow: none;
}
