@import 'meyer_css_reset.css'
@import 'mixins.styl'

html
  background: colors.bg-light url('/images/background-image.png') repeat left top
  font: 14px 'Droid Sans', sans-serif
  color: colors.text

header,
main,
footer
  width: 1000px
  min-width: 1000px
  margin: 0 auto

header
  padding: 50px 0 40px 0
  vertical-align: middle
  a.cart-info
    position: relative
    float: right
    text-transform: uppercase
    color: colors.text
    background: colors.bg-dark
    font-size: 0.8em
    height: 28px
    line-height: 28px
    padding-left: 50px
    span
      background: linear-gradient(to bottom, colors.header.cart-color1 0%, colors.header.cart-color2 100%)
      position: relative
      display: inline-block
      color: colors.header.text
      padding: 0 30px
      &:hover
        background: linear-gradient(to bottom, darken(colors.header.cart-color1, 5) 0%, darken(colors.header.cart-color2, 5) 100%)
      &:before,
      &:after
        position: absolute
        content: ''
        display: block
      &:before
        width: 0
        height: 0
        top: 0
        left: 0
        border-top: 14px solid colors.bg-dark
        border-right: 14px solid transparent
        border-bottom: 14px solid transparent
        border-left: 14px solid colors.bg-dark

h1
  &.logo
    display: inline-block
    width: 140px
    height: 32px
    background: url('/images/logo.png') 0 0 no-repeat
  a
    display: block
    width: inherit
    height: inherit

main
  padding: 15px 0;
  border-top: 1px solid colors.text
  border-bottom: 1px solid colors.text

footer
  padding: 15px 0 70px 0

a
  cursor: pointer
  text-decoration: none
  color: colors.link

.menu
  &:after
    content: ''
    display: block
    clear: both
    font-size: 0
  li
    float: left
    width: 20%
    text-align: center
    margin-top: 15px
  a
    position: relative
    display: block
    &:hover
      figure:after
        display: block
      figcaption h3
        color: colors.menu.btn-border
  figure
    position: relative
    &:after
      position: absolute
      display: none
      top: 0
      left: 0
      right: 0
      height: 200px
      content: ''
      background: colors.menu.overlay url('/images/arrow-right.png') no-repeat 50% 50%
  figcaption
    background: colors.menu.bg
    padding: 20px 0
    box-shadow: inset -3px 0px 1px 0px rgba(204,204,204,1)
    h3
      color: colors.menu.name
      padding: 5px
      font-size: 1.5em
    p
      color: colors.menu.price
      padding: 5px
      font-size: 1.2em
  button
    background: colors.menu.bg
    text-transform: uppercase
    display: block
    width: 100%
    color: colors.menu.btn-text
    text-decoration: none
    outline: none
    border: none
    padding: 10px 0
    border-top: 1px dotted colors.menu.btn-border
    box-shadow: inset -3px 0px 1px 0px rgba(204,204,204,1)
    transition: background 200ms ease-in, color 200ms ease-in, box-shadow 200ms ease-in
    appearance()
    &:before
      content: '+ '
      font-weight: bold
      font-size: 1.2em
    &:hover
      background: colors.menu.btn-text
      color: colors.menu.bg
      box-shadow: none
