@import url("tantek_css_reset.css");

body {
  background: linear-gradient(to bottom, #d1dbbd, #fcfef4);
  background-repeat: no-repeat;
  font: 18px "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #3e606f;
}

/*
  ==========================================================

  Header

  =========================================================
*/

header {
  width: 920px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

.logo {
  float: left;
  font-size: 36px;
  font-color: #193441;
  background: transparent url("../images/logo.png") 0 0 no-repeat;
  padding: 50px 0 12px 112px;
  color: #193441;
}

header nav {
  float: right;
  padding-top: 75px;
}

header li {
  display: inline-block;
}

header a {
  display: block;
  text-decoration: none;
  color: #91aa9d;
  background: #fcfff5;
  text-align: center;
  width: 130px;
  height: 45px;
  box-sizing: border-box;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.active {
  background: #91aa9d;
  color: #fcfff5;
}

/*
  ==========================================================

  Article

  =========================================================
*/

article {
  background: #fff;
  width: 960px;
  padding: 30px;
  box-sizing: border-box;
  margin: 15px auto;
  box-shadow: 0 10px 5px #bdbebd;
  overflow: hidden;
}

img + h2 {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: normal;
}

article p {
  margin-bottom: 25px;
}

.article_img_right {
  float: right;
  margin-left: 40px;
}


/*
  ==========================================================

  Footer

  =========================================================
*/

footer {
  font-size: 14px;
  width: 960px;
  margin: 0 auto;
}


/*
  ==========================================================

  Clearfix

  =========================================================
*/

.clearfix {
  clear: both;
}
