<a href="/menu/{{id}}">
  <figure>
    <img src="/images/menu/{{imgSrc name}}.jpg">
    <figcaption>
      <h3>{{name}}</h3>
      <p>{{formatPrice price}}</p>
    </figcaption>
  </figure>
</a>
<button>Add to cart</button>
