html, body
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif

body
  padding: 50px

h1
  font-size: 1.5em;

main
  box-shadow: 0px 0px 23px 0px colors.shadow
  padding: 15px
  border-radius: 5px

a
  &.btn
    button()
  &.btn-add
    button-add()

#albums
  h2
    font-size: 1.2em
  h3
    font-size: 1.1em
    color: colors.sub-header
  li
    vertical-align: top
    display: inline-block
    width: 23.5%
    margin: 0 2% 2% 0
    &:nth-of-type(4n)
      margin-right: 0