html, body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

body
  padding: 50px

h1
  font-size: 1.5em;

header
  padding: 7px
  a
    margin: 10px
  h1, a
    display: inline-block
    vertical-align: middle;

main
  box-shadow: 0px 0px 23px 0px colors.shadow
  padding: 15px
  border-radius: 5px
  ul.albums
    clear: both
    font-size: 0.7em
    h2
      font-size: 1.2em
    h3
      font-size: 1.1em
      color: colors.sub-header
    li
      vertical-align: top
      display: inline-block
      width: 23.5%
      margin: 0 2% 2% 0
      &:nth-of-type(4n)
        margin-right: 0


.cart
  position: relative
  float: right;
  width: 50%;
  text-align: right
  input
    display: none
    &:checked + .items
      display: block
  label
    cursor: pointer
    display: inline-block
    clear: both
  .items
    position: absolute
    background: colors.cart.bg
    color: colors.cart.text
    box-shadow: 0px 0px 3px 1px colors.cart.shadow
    border-radius: 5px
    top: 100%
    right: 0
    z-index: 1
    display: none
    padding: 5px
    overflow: hidden
    p
      padding: 5px
      font-weight: 700
      border-top: 1px solid #ccc
    ul
      padding: 5px 0
    li
      padding: 5px
      text-align: left
    a
      position: relative
      float: left
      width: 12px
      height: 12px
      margin: 3px 5px 0 0
      overflow: hidden
      text-indent: 9999px
      transform: rotate(45deg)
      &:before,
      &:after
        position: absolute
        content: ''
        background: colors.delete
      &:before
        top: 0
        bottom: 0
        left: 50%
        margin-left: -1px
        width: 2px
      &:after
        left: 0
        right: 0
        top: 50%
        height: 2px
        margin-top: -1px
    small
      float: right
      margin-left: 10px



a, input[type='submit']
  cursor: pointer
  &.btn
    button()
  &.btn-add
    button-add()
  &.btn-new
    button-new()

.add-album
  width: 500px
  margin: 0 auto
  h1
    margin 0 0 10px 0
  dt
    float: left
    clear: left
    width: 100px
    text-align: right
    font-weight: bold
    padding-top: 6px
  dt:after
    content: ":"
  dd
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  fieldset
    width: 100%;
    .btn
      text-align: center
      display: block;
      width: 25%
      margin: 0 auto
  input[type="text"], input[type="url"], input[type="date"]
    width: 100%
    box-sizing: border-box
    height: 30px;
    border-radius: 6px
    padding: 5px
    outline: none
    border: 1px solid colors.border
    appearance()
