@import 'meyer_css_reset.css';
html,
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  padding: 50px;
}
h1 {
  font-size: 1.5em;
}
main {
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 5px;
}
a.btn,
input[type='submit'].btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: #555;
  color: #fff;
  text-decoration: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a.btn-add,
input[type='submit'].btn-add {
  background: #ff6347;
  box-shadow: 2px 2px 0 2px #ff3814;
  transition: box-shadow 200ms ease-in, top 200ms ease-in, left 200ms ease-in;
}
a.btn-add:active,
input[type='submit'].btn-add:active {
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 0 1px #ff3814;
}
#albums {
  font-size: 0.7em;
}
#albums h2 {
  font-size: 1.2em;
}
#albums h3 {
  font-size: 1.1em;
  color: #ccc;
}
#albums li {
  vertical-align: top;
  display: inline-block;
  width: 23.5%;
  margin: 0 2% 2% 0;
}
#albums li:nth-of-type(4n) {
  margin-right: 0;
}
#add-album {
  width: 500px;
  margin: 0 auto;
}
#add-album h1 {
  margin: 0 0 10px 0;
}
#add-album dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  padding-top: 6px;
}
#add-album dt:after {
  content: ":";
}
#add-album dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
#add-album .btn {
  text-align: center;
  display: block;
  width: 25%;
  margin: 0 auto;
}
#add-album input[type="text"],
#add-album input[type="url"],
#add-album input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border-radius: 6px;
  padding: 5px;
  outline: none;
  border: 1px solid #ccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
