@import 'meyer_css_reset.css';
html,
body {
  padding: 50px;
  font: 8px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 1.5em;
}
main {
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 5px;
}
a.btn {
  position: relative;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background: #555;
  color: #fff;
  text-decoration: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
a.btn-add {
  background: #ff6347;
  box-shadow: 2px 2px 0 2px #ff3814;
  transition: box-shadow 200ms ease-in, top 200ms ease-in, left 200ms ease-in;
}
a.btn-add:active {
  top: 2px;
  left: 2px;
  box-shadow: 1px 1px 0 1px #ff3814;
}
#albums h2 {
  font-size: 1.2em;
}
#albums h3 {
  font-size: 1.1em;
  color: #ccc;
}
#albums li {
  vertical-align: top;
  display: inline-block;
  width: 23.5%;
  margin: 0 2% 2% 0;
}
#albums li:nth-of-type(4n) {
  margin-right: 0;
}
