-
  let cart = [
    {
      title: 'ActRaiser',
      quantity: 1,
      price: 50,
    },
    {
      title: 'Metroid Prime',
      quantity: 2,
      price: 21,
    },
    {
      title: 'Silent Hill 3',
      quantity: 1,
      price: 25,
    },
  ];