<!DOCTYPE html>
<html>
  <head>
    <title>Web Store</title>
    <link rel="stylesheet" href="stylesheets/application.css"/>
    <link href="http://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <h1>Products</h1>
      <div id="cart">
        <h3><a href="#">Cart<span>4</span></a></h3>
        <div id="items">
          <ul>
            <li>ActRaiser x 1<span>$50.00</span></li>
            <li>Metroid Prime x 2<span>$21.00</span></li>
            <li>Silent Hill 3 x 1<span>$25.00</span></li>
            <li><strong>Total</strong><span>$96.00</span></li>
          </ul>
          <a href="#">Checkout</a>
        </div>
      </div>
      <ul id="products">
        <li>
          <img src="images/snes_actraiser.jpg" />
          <h2>ActRaiser</h2>
          <dl>
            <dt>Console</dt>
            <dd><span title="SNES" class="logo snes">SNES</span></dd>
            <dt>Year</dt>
            <dd>1991</dd>
            <dt>Genre</dt>
            <dd>Strategy</dd>
            <dt>UPC</dt>
            <dd>719631000036</dd>
          </dl>
          <a href="#">Add to cart</a>
        </li>
      </ul>
    </main>
    <script type="text/javascript" src="javascripts/cart.js"></script>
  </body>
</html>
