include _mixins.pug
include _cart_mock.pug
include _functions.pug

doctype html
html
  head
    title Web Store
    +stylesheet_link_tag('application')
    link(href="http://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css")
  body
    main
      h1 Products
      #cart
        h3.
          #[a(href="#") Cart#[span 4]]
        #items
          ul
            each cartItem in cart
              li.
                #{cartItem.title} x #{cartItem.quantity}#[span #q{format(cartItem.price)}]
            li.
              #[strong Total]#[span $#{format(total(cart))}]
          a(href="#") Checkout

      block content

    +script_include_tag('cart')