extends layout

block content
  main
    h1= title
    ul(id='albums')

append scripts
  script(src='/javascripts/application.js' type='text/javascript')
  script(type='text/javascript').
    App.albums = new AlbumsCollection(!{JSON.stringify(albums)});
    App.init();
