include _mixins.pug

doctype html
html
  head
    title= title
    +stylesheet_link_tag('style')
    script(src='/javascripts/vendor/all.js' type='text/javascript')
    script(src='/javascripts/templatesCompiled.js' type='text/javascript')
  body
    block content
      main
    block scripts
      script(src='/javascripts/models/album.js' type='text/javascript')
      script(src='/javascripts/collections/albums.js' type='text/javascript')
      script(src='/javascripts/collections/cartItems.js' type='text/javascript')
      script(src='/javascripts/views/album.js' type='text/javascript')
      script(src='/javascripts/views/albums.js' type='text/javascript')
      script(src='/javascripts/views/newAlbum.js' type='text/javascript')
      script(src='/javascripts/views/index.js' type='text/javascript')
      script(src='/javascripts/views/cartView.js' type='text/javascript')
      script(src='/javascripts/views/cartItemView.js' type='text/javascript')
      script(src='/javascripts/routers/router.js' type='text/javascript')
      script(src='/javascripts/application.js' type='text/javascript')
      script(type='text/javascript').
        App.albums = new AlbumsCollection(!{JSON.stringify(albums)});
        App.init();
