include _mixins.pug

doctype html
html
  head
    title= title
    +stylesheet_link_tag('style')
    script(src='/javascripts/vendor/all.js' type='text/javascript')
    script(src='/javascripts/templatesCompiled.js' type='text/javascript')
  body
    block content
    block scripts
      script(src='/javascripts/models/album.js' type='text/javascript')
      script(src='/javascripts/collections/albums.js' type='text/javascript')
      script(src='/javascripts/views/album.js' type='text/javascript')
      script(src='/javascripts/views/app.js' type='text/javascript')