extends layout

append header

block main
  main
    section.menu
      ul.menu-item
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart
        li
          a
            figure
              img(src='/images/menu/california-rolls.jpg')
              figcaption
                h3 California Rolls
                p $12
          button Add to cart