doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
  body
    block content

    footer
      p.
        Replicated version of #[a(href="http://demos.telerik.com/kendo-ui/websushi/") http://demos.telerik.com/kendo-ui/websushi/] for practice developing SPA
