include _mixins.pug

doctype html
html
  head
    title= title
    +stylesheet_link_tag('style')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700')
    +javascript_include_tag('vendor/all')
  body
    block header
      header
        h1.logo: a(href='/')
        a.cart-info(href='/').
          Shopping Cart #[span.item-count 0 Items]

    block main

    footer
      p.
        Replicated version of #[a(href="http://demos.telerik.com/kendo-ui/websushi/") http://demos.telerik.com/kendo-ui/websushi/] for practice developing SPA

    +javascript_include_tag('app')