<header>
  <h1>{{title}}</h1>
  <a class="btn btn-new" href="/albums/new">New Album</a>
  <div class="cart">
    <label for="cart-toggle">2 Items</label>
    <input id="cart-toggle" type="checkbox">
    <div class="items">
      <ul>
        <li>
          <a href="#">Remove</a>
          Album Name x 1
          <small>$19.22</small>
        </li>
        <li>
          <a href="#">Remove</a>
          Really Long Album Name x 2
          <small>$19.51</small>
        </li>
      </ul>
      <p>$50.00</p>
    </div>
  </div>
</header>
<ul class="albums"></ul>
